body {
    margin: 0;
    font-family: "Raleway", "Montserrat", "DejaVu Sans", "Droid Sans", sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #13ace5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFFFFF;
  color: #13ace5;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #13ace5;
  color: white;
}

.header-layout {
    background-image: url("images/frontpage.jpg");
    height:250px;
    width: 100%;
    min-width: 200px;
    box-shadow: 0px 2px 2px black;
    margin: 0px;
}

.registerForm{
  padding-top: 20px;
  padding-left: 20px;
}

.registerTable{
  text-align: left;
}

.header-photo{
    width: 10%;
    height: 70%;
    padding-top: 30px;
    padding-left: 20px;
    min-width: 180px;
}

.header-data {
    width: 90%;
    height: 95%;
    display:flex;
    flex-direction: row;
    align-self: stretch;
}

.header-text {
    color: black;
    height: 90%;
    width: 80%;
    padding-left: 20px;
}

.header-name {
    font-size: 30px;
    height: 10px;
    font-weight: bold;
}

.header-location {
    font-size: 15px;
    height: 10px;
}