body {
    margin: 0;
    font-family: "Raleway", "Montserrat", "DejaVu Sans", "Droid Sans", sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFFFFF;
  color: #13ace5;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #13ace5;
  color: white;
}

.header-layout {
    background-image: url("images/frontpage.jpg");
    height:250px;
    width: 100%;
    min-width: 200px;
    box-shadow: 0px 2px 2px black;
    margin: 0px;
}

.registerForm{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.registerTable{
  text-align: left;
}

.header-photo{
    width: 10%;
    height: 70%;
    padding-top: 30px;
    padding-left: 20px;
    min-width: 180px;
}

.header-data {
    width: 90%;
    height: 95%;
    display:flex;
    flex-direction: row;
    align-self: stretch;
}

.header-text {
    color: black;
    height: 90%;
    width: 80%;
    padding-left: 20px;
}

.header-name {
    font-size: 30px;
    height: 10px;
    font-weight: bold;
}

.header-location {
    font-size: 15px;
    height: 10px;
}

.custom-select {
  background-color: #898989;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: .4em 1.4em .3em .8em;
  width: 400px;
  box-sizing: border-box;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

.custom-header-text{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.custom-header-text::before{
    display: inline-block;
    content: "";
    border-top: .3rem solid #13ace5;
    width: 1.5rem;
    margin: 0 0.5rem;
    padding-bottom: 20px;
    transform: translateY(1rem);
}

.date-selection-block{
  padding-bottom: 30px;
}

.custom-subtitle{
  padding-top: 20px;
  color: red;
  font-size: 14px;
  text-decoration: underline;
}

.guest-reservation-block{
  width: 100%;
  margin: 0 auto;
}

.personal-data-block{
  display: inline-block;
  padding-right: 50px;
  float: left;
  font-size: 14px;
}

.guests-block{
  display: inline-block;
}

.input-block{
  padding-bottom: 5px;
}

.button-add-more{
  background-color: #898989;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 0px 20px 0px 20px;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.button-add-more:hover{
  background-color: #FFF;
  font-size: 20px;
  color: #13ace5;
  padding: 0px 20px 0px 20px;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.button-add-reserve{
  background-color: #13ace5;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  padding: 3px 20px 3px 20px;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
}

.button-add-reserve:hover{
  background-color: white;
  font-size: 17px;
  color: #13ace5;
  padding: 3px 20px 3px 20px;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
}

.bottomnav{
    height: 100px;
    width: 100%;
    background-color: #EFF1F4;
    padding-top: 50px;
    padding-left: 20px;
}

.footer-text{
    font-size: 15px;
}

.reservation-result-block-container{
    padding-top: 20px;
}

.reservation-result-block{
    padding: 5px 5px 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    background: rgb(126,42,59);
    background: linear-gradient(86deg, rgba(126,42,59,1) 0%, rgba(196,40,68,1) 49%);
    max-width: 500px;
}

.icon-check-circle{
    color: #20A50B;
}

.reservation-number-block-warning{
    font-size: 12px;
    color: #F6E407;
}